<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>wgm.jira</id>
	<name>JIRA Integration</name>
	<description>This plugin provides integration with Atlassian JIRA via their REST API.  It is intended to be a bridge used by other plugins to communicate with JIRA services.</description>
	<author>Webgroup Media, LLC.</author>
	<version>0.0.16</version>
	<link>http://www.cerbweb.com/book/latest/plugins/wgm.jira.html</link>
	<image>plugin.png</image>
 
 	<!-- Requirements -->

	<requires>
		<app_version min="6.4.4" max="6.4.99" />
		<php_extension name="curl" />
	</requires>
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="6.4.4" />
	</dependencies>

	<!-- Patches -->
	
	<patches>
		<patch version="6.0.0" revision="4" file="patches/6.0.0.php" />
	</patches>
	
	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/dao/jira_issue.php">
			<class name="Context_JiraIssue" />
			<class name="DAO_JiraIssue" />
			<class name="Model_JiraIssue" />
			<class name="Search_JiraIssue" />
			<class name="SearchFields_JiraIssue" />
			<class name="View_JiraIssue" />
		</file>
	
		<file path="api/dao/jira_project.php">
			<class name="Context_JiraProject" />
			<class name="DAO_JiraProject" />
			<class name="Model_JiraProject" />
			<class name="SearchFields_JiraProject" />
			<class name="View_JiraProject" />
		</file>
	</class_loader>

	<!-- Extensions -->
 
	<extensions>

		<!-- Contexts -->

		<extension point="devblocks.context">
			<id>cerberusweb.contexts.jira.project</id>
			<name>Jira Project</name>
			<class>
				<file>api/dao/jira_project.php</file>
				<name>Context_JiraProject</name>
			</class>
			<params>
				<param key="alias" value="jira_project" />
				<param key="dao_class" value="DAO_JiraProject" />
				<param key="view_class" value="View_JiraProject" />
				<param key="options">
					<value>
						<!--<data key="create" />-->
						<data key="custom_fields" />
						<data key="find" />
						<!--<data key="snippets" />-->
						<data key="va_variable" />
						<data key="workspace" />
					</value>
				</param>
			</params>
		</extension>

		<extension point="devblocks.context">
			<id>cerberusweb.contexts.jira.issue</id>
			<name>Jira Issue</name>
			<class>
				<file>api/dao/jira_issue.php</file>
				<name>Context_JiraIssue</name>
			</class>
			<params>
				<param key="alias" value="jira_issue" />
				<param key="dao_class" value="DAO_JiraIssue" />
				<param key="view_class" value="View_JiraIssue" />
				<param key="options">
					<value>
						<!-- <data key="create" /> -->
						<data key="custom_fields" />
						<data key="find" />
						<!--<data key="snippets" />-->
						<data key="va_variable" />
						<data key="workspace" />
					</value>
				</param>
			</params>
		</extension>

		<!-- Plugin Setup -->
		
		<extension point="cerberusweb.plugin.setup">
			<id>wgmjira.setup</id>
			<name>Setup</name>
			<class>
				<file>api/App.php</file>
				<name>WgmJira_Setup</name>
			</class>
			<params>
				<param key="tab_label" value="JIRA" />
			</params>
		</extension>
		
		<!-- Profile Page Sections -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>jira.page.profiles.jira_project</id>
			<name>Jira Project Section</name>
			<class>
				<file>api/profile/jira_project.php</file>
				<name>PageSection_ProfilesJiraProject</name>
			</class>
			<params>
				<param key="page_id" value="core.page.profiles" />
				<param key="uri" value="jira_project" />
			</params>
		</extension>
		
		<extension point="cerberusweb.ui.page.section">
			<id>jira.page.profiles.jira_issue</id>
			<name>Jira Issue Section</name>
			<class>
				<file>api/profile/jira_issue.php</file>
				<name>PageSection_ProfilesJiraIssue</name>
			</class>
			<params>
				<param key="page_id" value="core.page.profiles" />
				<param key="uri" value="jira_issue" />
			</params>
		</extension>
		
		<!-- Search Schemas -->
		
		<extension point="devblocks.search.schema">
			<id>jira.search.schema.jira_issue</id>
			<name>Jira Issues</name>
			<class>
				<file>api/dao/jira_issue.php</file>
				<name>Search_JiraIssue</name>
			</class>
			<params>
			</params>
		</extension>

		<!-- Scheduled Jobs -->
		
		<extension point="cerberusweb.cron">
			<id>wgmjira.cron</id>
			<name>JIRA Synchronization</name>
			<class>
				<file>api/App.php</file>
				<name>WgmJira_Cron</name>
			</class>
			<params />
		</extension>
		
		<!-- Event Actions -->
		
		<extension point="devblocks.event.action">
			<id>wgmjira.event.action.create_issue</id>
			<name>Create JIRA Issue</name>
			<class>
				<file>api/App.php</file>
				<name>WgmJira_EventActionCreateIssue</name>
			</class>
			<params>
				<param key="label" value="Create an issue in JIRA" />
				<param key="events">
					<value>
						<data key="*" />
					</value>
				</param>
			</params>
		</extension>
		
		<extension point="devblocks.event.action">
			<id>wgmjira.event.action.comment_issue</id>
			<name>Comment JIRA Issue</name>
			<class>
				<file>api/App.php</file>
				<name>WgmJira_EventActionCommentIssue</name>
			</class>
			<params>
				<param key="label" value="Comment on an issue in JIRA" />
				<param key="events">
					<value>
						<data key="*" />
					</value>
				</param>
			</params>
		</extension>
		
	</extensions>
</plugin>
